:root {
    --color-background-white: #ffffff;
    --color-primary-magenta: #ea008c;
    --color-primary-magenta-hover: #b90272;
    --color-secondary-blue: #00adee;
    --color-secondary-blue-hover: #0282ad;
    --color-secondary-yellow: #fde201;
    --color-accent-gray: #eeeeee;

    --color-error: #e10000;

    --color-text-main-black: #000;
}